@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.banner{
    display: flex;
    width:100%;
    font-family: 'Open Sans';
    padding:15px;
}

.banner{
    width:10%;
    margin-right:25px;
}
 
.banner img{
    height:50px;
    margin-left: 20px;
} 

.card {
max-height:30vh;
max-width:40vw;
}

/* .loader{
    height:100px;
    width:100px;
    border:4px solid blue;
    border-radius: 50%;
    border-top-color:white;
    animation-name:spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction:forward;
    text-align:center;

}

@keyframes spin {
    0%{transform:rotate(0deg)}
    25%{transform:rotate(90deg)}
    50%{transform:rotate(180deg)}
    75%{transform:rotate(270deg)}
    100%{transform:rotate(360deg)}
} */